*~
installation/
revisions/
results/
mytime/mytime
*.userprefs
tests/zorn/ahcbench/*.ahd
tests/zorn/ahcbench/*.orig
tests/f-sharp-2.0/GeneralTest1.exe

tools/packages
tools/Components
tools/*.exe
tools/*.exe.mdb
tools/*.dll
tools/*.dll.mdb
tools/*/obj
tools/*/bin
tools/*/*/obj
tools/*/*/bin
tools/AndroidAgent.UITests/params.json

front-end/build
front-end/node_modules

benchmarkerCredentials
wrench-results
wrench-results.old
results-test
results.jon
results.old
results.pre-json

accredit/cloud-code/cloud/credentials.js
accredit/cloud-code/config/global.json

xtc-api-key
