{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "es6": true
  },
  "extends": "eslint:recommended",
  "plugins": ["react" /*, "flowtype" */],
  "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "classed": true
  },
  // To give you an idea how to override rule options:
  "rules": {
      "semi": [2, "always"],
      "indent": [0],
      //"indent": [2, "tab"],
      "linebreak-style": [2, "unix"],
      "no-unused-vars": [0],
      "no-console": [0]
  }
}
