{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  "plugins": ["react"],
  "ecmaFeatures": {
      "jsx": true
  },
  // To give you an idea how to override rule options:
  "rules": {
    "no-spaced-func": [0],
    "quotes": [0],
    "curly": [0],
    "no-alert": [0],
    "no-console": [0],
    "no-use-before-define": [0],
//    "no-extra-strict": [0],
    "comma-dangle": [0],
    "no-loop-func": [0],
    "camelcase": [0],
//    "no-unused-vars": [2, {"args": "none"}],
    "no-undef-init": [0],
    "global-strict": [0]
//    "eol-last": [0],
//    "no-mixed-requires": [0],
//    "no-underscore-dangle": [0]
  }
}
