[MESSAGES CONTROL]
# Brain-dead errors regarding standard language features
#   W0142 = *args and **kwargs support
#   W0403 = Relative imports

# Pointless whinging
#   R0201 = Method could be a function
#   W0212 = Accessing protected attribute of client class
#   W0613 = Unused argument
#   W0232 = Class has no __init__ method
#   R0903 = Too few public methods
#   R0913 = Too many arguments
#   C0103 = Invalid name

# PyLint's module importation is unreliable
#   F0401 = Unable to import module
#   W0402 = Uses of a deprecated module

# Already an error when wildcard imports are used
#   W0614 = Unused import from wildcard


# C0301: Line too long
# C0111: Missing docstring
# W0110: map/filter on lambda could be replaced by comprehension
# W0141: Used builtin function %r
# E0202: An attribute defined in %s line %s hides this method Used when a class defines a method which is hidden by an instance attribute from an ancestor class or set by some client code.
# W0511: Don't warn for TODO/FIXME
# R0914: Too many local variables
# R0902: Too many instance attributes
# R0913: Too many arguments
# Disable the message(s) with the given id(s).
disable=C0301,C0111,W0110,W0141,R0914,E0202,W0511,R0902,R0913,R0903,W0703,R0801
