def getSlaves():
    return [("slave1-hostname", "secretpassword!!11")
           ,("slave2-hostname", "uberpwd")]

def getParseHeaders():
    return {
        'X-Parse-Application-Id': '1111111111111111111111111111111111111111',
        'X-Parse-REST-API-Key': 'yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy'
    }

def getBasicAuthInfo():
    return [("httpuser1", "httppassword")
           ,("httpuser2", "httppassword")]
