def getSlaves():
    return [("slave1-hostname", "secretpassword!!11")
           ,("slave2-hostname", "uberpwd")]

def getParseHeaders():
    return {
        'X-Parse-Application-Id': '1111111111111111111111111111111111111111',
        'X-Parse-REST-API-Key': 'yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy'
    }

def getBasicAuthInfo():
    return [("httpuser1", "httppassword")
           ,("httpuser2", "httppassword")]

def getSlackAPIKey():
    return 'https://hooks.slack.com/services/SLACKABC/SLACKXYZ/your-secret-token'

def getGoogleAPIKeyClientID():
    return 'goto: https://console.developers.google.com'

def getGoogleAPIKeyClientSecret():
    return 'goto: https://console.developers.google.com'
