def getSlaves():
    return [("slave1-hostname", "secretpassword!!11")
           ,("slave2-hostname", "uberpwd")]

def getSlackAPIKey():
    return 'https://hooks.slack.com/services/SLACKABC/SLACKXYZ/your-secret-token'

def getGoogleAPIKeyClientID():
    return 'goto: https://console.developers.google.com'

def getGoogleAPIKeyClientSecret():
    return 'goto: https://console.developers.google.com'

def getPBUser():
    return 'pbuser'

def getPBPassword():
    return 'pbpasswd'

def getGithubWritePullrequestCommentsToken():
    return "1111111111111111111111111111111111111111"
