
<!DOCTYPE html>
<html>
  <head>
    <title>Confirm Accredit request</title>
  </head>
  <body>
    <h1>Please confirm</h1>

    <p>A program is trying to get access to the service</p>

    <blockquote><%= service %></blockquote>

    <p>on your behalf.  Only approve this request if you just instructed a program
    to do something, and the key it prints is</p>

    <blockquote><%= key %></blockquote>

    <p>If you don't know what this is about, or if the key doesn't match the
    one printed by the program, close this tab and report the incident to
    the authorities.</p>

    <form action="/oauthFollowup" method="POST">
        <input type="hidden" name="code" value="<%= code %>"></input>
        <input type="hidden" name="state" value="<%= state %>"></input>
        <input type="submit" value="I approve!"></input>
    </form>
  </body>
</html>
