body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.diagnostic {
	font-style: italic;
}

.DiagnosticBlock {
	margin: 16px;
	overflow: hidden; /* BFC */
	text-align: center;
}

article {
	margin: 16px;
}

label {
	margin: 8px 0;
}

button {
	background: #3498DB;
	border-radius: 16px;
	border: none;
	color: #FFFFFF;
	padding: 8px 16px;
	height: 32px;
}

select {
	border: 1px solid #ADB7BE;
	padding: 4px;
}

optgroup {
	margin: 4px;
}

h1 {
	font-size: larger;
	font-weight: bold;
	margin: 0 0 8px 0;
}

p {
	margin: 0 0 8px 0;
	line-height: 140%;
}

a {
	text-decoration: none;
}

a:link {
	color: #3192B3;
}

a:visited {
	color: #2C7797;
}

a:active, a:hover, a:focus {
	color: #1FAECE;
}

/* ConfigDescription, MachineDescription */

.Description dl {
	margin: 0;
}

.Description dd, .Description dt {
	margin-bottom: 8px;
}

.Description dd {
	margin-left: 8px;
}

.Description ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.Description ul > li {
	margin-bottom: 8px;
}

/* CombinedConfigSelector */

.CombinedConfigSelector {
	width: 100%;
}

.CombinedConfigSelector > button {
	margin: 0 8px 8px 0;
}

.CombinedConfigSelector > select {
	box-sizing: border-box;
	display: block;
	margin: 8px 0;
	width: 100%;
}

/* Navigation */

.Navigation {
	background: #2C3E50;
	margin: 0 0 16px 0;
}

.Navigation > ul {
	width: 50%;
	height: 100%;
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	padding: 0;
}

.Navigation > ul > li {
	display: inline-block;
}

.Navigation > ul > li > a {
	color: #BDC3C7;
	display: inline-block;
	padding: 16px;
	text-decoration: none;
}

.Navigation > ul > li.selected > a {
	background: #FFFFFF;
	color: #2C3E50;
}

.Navigation > ul > li.deselected > a:focus, .Navigation > ul > li.deselected > a:hover {
	color: #FFFFFF;
	background: #3A526A;
}

/* AMChart */

.AMChart {
	overflow: hidden; /* BFC */
	/* margin: 16px; */
}
