body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.diagnostic {
	font-style: italic;
}

.DiagnosticBlock {
	margin: 16px;
	overflow: hidden; /* BFC */
	text-align: center;
}

label {
	font-size: small;
	margin: 8px;
}

/* ConfigDescription, MachineDescription */

.Description {
	padding: 0 4px;
	vertical-align: top;
	font-family: sans-serif;
}

.Description > button {
	margin-bottom: 8px;
}

.Description > dl > dd, .Description > dl > dt {
	margin-bottom: 16px;
}

.Description > dl > dd {
	margin-left: 16px;
}

.Description > dl > dt {
	font-weight: bold;
}

/* ConfigSelector, CombinedConfigSelector */

.ConfigSelector, .CombinedConfigSelector {
	width: 100%;
	margin: 8px 0;
}

.ConfigSelector > select, .CombinedConfigSelector > select {
	display: block;
	margin: 8px;
}

/* Navigation */

.Navigation {
	background: #2C3E50;
	margin: 0;
}

.Navigation > ul {
	width: 50%;
	height: 100%;
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	padding: 0;
}

.Navigation > ul > li {
	display: inline-block;
}

.Navigation > ul > li > a {
	color: #BDC3C7;
	display: inline-block;
	padding: 16px;
	text-decoration: none;
}

.Navigation > ul > li.selected > a {
	background: #ffffff;
	color: #2C3E50;
}

.Navigation > ul > li.deselected > a:focus, .Navigation > ul > li.deselected > a:hover {
	color: #FFFFFF;
	background: #3A526A;
}

/* GoogleChart */

.GoogleChart {
	overflow: hidden; /* BFC */
	margin: 16px;
}
