.RunSetSelectorList > section > .RunSetSelector {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/* RunSetSelectorList */

.RunSetSelectorList {
	background: #FFFFFF;
	border: 1px solid #ADB7BE;
	border-radius: 4px;
	float: left;
	margin-right: 16px;
	padding: 8px;
	width: 320px;
}

.RunSetSelectorList > section {
	background: #D1D9DD;
	border: 1px solid #ADB7BE;
	border-radius: 4px;
	margin-bottom: 8px;
	clear: both;
}

.RunSetSelectorList > footer {
	clear: both;
}

.RunSetSelectorList > section > button {
	float: right;
	margin: 8px;
}

/* ComparisonChart */

.ComparisonChart {
	vertical-align: top;
	overflow: hidden; /* BFC */
}
