/* ComparePage */

.ComparePage > article {
	margin: 16px;
}

/* RunSetSelector */

.RunSetSelector {
	display: block;
	font-family: sans-serif;
	margin-bottom: 4px;
	vertical-align: top;
	overflow: hidden; /* BFC */
}

.RunSetSelector > select {
	display: block;
	margin: 8px;
}

/* RunSetSelectorList */

.RunSetSelectorList {
	float: left;
	margin: 0 16px;
	width: 320px;
}

.RunSetSelectorList > section {
	background: #D1D9DD;
	border-radius: 3px;
	clear: both;
}

.RunSetSelectorList > footer {
	clear: both;
	width: 100%;
}

.RunSetSelectorList > footer > button {
	float: right;
	margin: 16px 0;
}

.RunSetSelectorList > section > button {
	float: right;
}

.RunSetSelectorList > footer > button, .RunSetSelectorList > section > button {
	height: 32px;
}

/* ComparisonChart */

.ComparisonChart {
	vertical-align: top;
	overflow: hidden; /* BFC */
}
