/* RunSetSelector */

.RunSetSelector {
	background: #ECF0F1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 8px;
}

.RunSetSelector > select {
	box-sizing: border-box;
	display: block;
	margin: 8px 0;
	width: 100%;
}

/* RunSetSelectorList */

.RunSetSelectorList {
	background: #FFFFFF;
	border: 1px solid #ADB7BE;
	border-radius: 4px;
	float: left;
	padding: 8px;
	width: 320px;
}

.RunSetSelectorList > section {
	background: #D1D9DD;
	border: 1px solid #ADB7BE;
	border-radius: 4px;
	margin-bottom: 8px;
	clear: both;
}

.RunSetSelectorList > footer {
	clear: both;
}

.RunSetSelectorList > section > button {
	float: right;
	margin: 8px;
}

/* ComparisonChart */

.ComparisonChart {
	vertical-align: top;
	overflow: hidden; /* BFC */
}
