/* TimelinePage */

.TimelinePage > article {
	margin: 16px;
}

.TimelinePage .panel {
	background: #D1D9DD;
	border-radius: 3px;
	float: left;
	width: 320px;
}

.TimelinePage > .panel > section {
	margin: 16px 0;
}

/* BenchmarkChartList */

.BenchmarkChartList {
	margin: 16px;
}
